In [81]:
import requests, json
import json
import sqlite3

In [92]:
api_key='K8LmDhBpijHbIRP2fgSPm9KEMMxTMkk939bkHwAs'

In [111]:
url = 'https://api.data.gov/ed/collegescorecard/v1/schools.json?'
headers = '&api_key='+api_key
url_params = 'school.degrees_awarded.predominant=2,3&_fields=id,school.name,latest.student.size&_per_page=100'

In [112]:
response = requests.get(url+url_params+headers)

In [126]:
connection = sqlite3.connect('scorecard.db')
cursor=connection.cursor()

In [132]:
cursor.execute('''
        CREATE TABLE fouryear (
            id INTEGER PRIMARY KEY,
            name TEXT,
            size INTEGER,
            part_time_share REAL,
            cost REAL,
            pell_grant_rate REAL,
            federal_loan_rate REAL,
            completion_rate_4yr_150nt REAL,
            retention_rate_full_time REAL,
            retention_rate_part_time REAL,
            share_25_older REAL,
            two_yr_default_rate REAL,
            three_yr_default_rate REAL,
            share_firstgeneration REAL,
            parents_middleschool REAL,
            parents_highschool REAL,
            parents_somecollege REAL,
            median_hh_income REAL
        )''')

In [133]:
cursor.execute('''
        CREATE TABLE twoyear (
            id INTEGER PRIMARY KEY,
            name TEXT,
            size INTEGER,
            part_time_share REAL,
            cost REAL,
            pell_grant_rate REAL,
            federal_loan_rate REAL,
            completion_rate__less_than_4yr_150nt REAL,
            retention_rate_full_time REAL,
            retention_rate_part_time REAL,
            share_25_older REAL,
            two_yr_default_rate REAL,
            three_yr_default_rate REAL,
            share_firstgeneration REAL,
            parents_middleschool REAL,
            parents_highschool REAL,
            parents_somecollege REAL,
            median_hh_income REAL
        )''')

In [188]:
import sys

In [203]:
def update_table(*arg):

    if arg[0]=='twoyear':
        completion='completion_rate__less_than_4yr_150nt'
    else:
        completion='completion_rate_4yr_150nt'
    args = [args if (args != None) else -999 for args in arg ]
    for arg in args[3:]:
        if isinstance(arg,str):
            args[args.index(arg)]=-999
    if args[2]==-999:
        args[2]='Missing'
    try:
        cursor.execute(f'''
            INSERT INTO {args[0]} 
            (id, name, size, part_time_share, cost, pell_grant_rate,
            federal_loan_rate,{completion},retention_rate_full_time,
            retention_rate_part_time,share_25_older,two_yr_default_rate,
            three_yr_default_rate,share_firstgeneration,parents_middleschool,
            parents_highschool,parents_somecollege,median_hh_income)
            VALUES
            ({args[1]},'{args[2]}',{args[3]},{args[4]},{args[5]},{args[6]},
            {args[7]},{args[8]},{args[9]},
            {args[10]},{args[11]},{args[12]},
            {args[13]},{args[14]},{args[15]},
            {args[16]},{args[17]},{args[18]})
            ''')
    except sqlite3.IntegrityError:
        pass
    except sqlite3.OperationalError:
        print(arg)

In [113]:
response.text

'{"metadata":{"total":3403,"page":0,"per_page":100},"results":[{"school.name":"American National University-Youngstown","latest.student.size":102,"id":453464},{"school.name":"Norco College","latest.student.size":8231,"id":460464},{"school.name":"Golf Academy of America-Dallas","latest.student.size":89,"id":476337},{"school.name":"Bryant & Stratton College-Online","latest.student.size":3394,"id":480091},{"school.name":"Platt College-Riverside","latest.student.size":462,"id":480204},{"school.name":"National American University-Mesquite","latest.student.size":115,"id":478014},{"school.name":"Yeshivas Maharit D\'Satmar","latest.student.size":89,"id":488101},{"school.name":"Clovis Community College","latest.student.size":5581,"id":489201},{"school.name":"Med-Life Institute-Naples","latest.student.size":55,"id":487834},{"school.name":"McCann School of Business & Technology","latest.student.size":182,"id":482927},{"school.name":"Valor Christian College","latest.student.size":262,"id":486257},{"school.name":"Unilatina International College","latest.student.size":33,"id":486354},{"school.name":"American National University-Stow","latest.student.size":24,"id":487357},{"school.name":"Wave Leadership College","latest.student.size":61,"id":486594},{"school.name":"Sunstate Academy-Jones Technical Institute","latest.student.size":313,"id":487311},{"school.name":"Shepherd University","latest.student.size":189,"id":487667},{"school.name":"Georgia Military College","latest.student.size":6519,"id":485111},{"school.name":"National American University-Houston","latest.student.size":74,"id":485281},{"school.name":"Dewey University-Mayaguez","latest.student.size":214,"id":485421},{"school.name":"College of the Muscogee Nation","latest.student.size":197,"id":480967},{"school.name":"Rasmussen College-Kansas","latest.student.size":310,"id":480657},{"school.name":"National American University-Austin South","latest.student.size":79,"id":482307},{"school.name":"National American University-Richardson","latest.student.size":141,"id":482334},{"school.name":"Tribeca Flashpoint College","latest.student.size":270,"id":460747},{"school.name":"Miller-Motte Technical College-Roanoke","latest.student.size":256,"id":475194},{"school.name":"Brown Mackie College-Dallas","latest.student.size":276,"id":482954},{"school.name":"California College San Diego","latest.student.size":368,"id":478634},{"school.name":"American National University-Columbus","latest.student.size":6,"id":457004},{"school.name":"Brown Mackie College-Greenville","latest.student.size":285,"id":456791},{"school.name":"Vatterott College-Appling Farms","latest.student.size":300,"id":455567},{"school.name":"Miller-Motte Technical College-Columbus","latest.student.size":635,"id":458441},{"school.name":"Broadview Entertainment Arts University","latest.student.size":130,"id":459091},{"school.name":"Bryant & Stratton College-Hampton","latest.student.size":337,"id":459107},{"school.name":"Compass College of Cinematic Arts","latest.student.size":132,"id":459417},{"school.name":"National American University-Centennial","latest.student.size":151,"id":466161},{"school.name":"Moreno Valley College","latest.student.size":7610,"id":460394},{"school.name":"Mildred Elley-New York Campus","latest.student.size":1077,"id":461014},{"school.name":"Minneapolis Media Institute","latest.student.size":85,"id":474881},{"school.name":"Sanford-Brown College-Brooklyn Center","latest.student.size":31,"id":475291},{"school.name":"College of Western Idaho","latest.student.size":6519,"id":455114},{"school.name":"City College-Hollywood","latest.student.size":235,"id":475477},{"school.name":"Rasmussen College-Wisconsin","latest.student.size":806,"id":450571},{"school.name":"Taylor College","latest.student.size":169,"id":449524},{"school.name":"Nightingale College","latest.student.size":246,"id":444787},{"school.name":"River Parishes Community College","latest.student.size":1378,"id":436304},{"school.name":"Tohono O\'Odham Community College","latest.student.size":262,"id":442781},{"school.name":"Triangle Tech Inc-Sunbury","latest.student.size":96,"id":443377},{"school.name":"University of South Carolina-Salkehatchie","latest.student.size":990,"id":218681},{"school.name":"Sinte Gleska University","latest.student.size":505,"id":219374},{"school.name":"Roane State Community College","latest.student.size":4388,"id":221397},{"school.name":"Brookhaven College","latest.student.size":10886,"id":223524},{"school.name":"Blinn College","latest.student.size":16850,"id":223427},{"school.name":"Dixie State University","latest.student.size":7432,"id":230171},{"school.name":"New England Culinary Institute","latest.student.size":300,"id":230977},{"school.name":"Pierce College-Fort Steilacoom","latest.student.size":4879,"id":235237},{"school.name":"Highline College","latest.student.size":4839,"id":235431},{"school.name":"Miller-Motte Technical College-Lynchburg","latest.student.size":340,"id":233091},{"school.name":"Southern West Virginia Community and Technical College","latest.student.size":1608,"id":237817},{"school.name":"Huntington Junior College","latest.student.size":453,"id":237437},{"school.name":"West Virginia Junior College-Charleston","latest.student.size":146,"id":237987},{"school.name":"Kaplan University-Des Moines Campus","latest.student.size":688,"id":367024},{"school.name":"CEM College-Humacao","latest.student.size":575,"id":376224},{"school.name":"Northwest Indian College","latest.student.size":542,"id":380377},{"school.name":"King\'s College","latest.student.size":359,"id":382504},{"school.name":"Everest University-South Orlando","latest.student.size":3520,"id":390701},{"school.name":"Galen College of Nursing-Tampa Bay","latest.student.size":962,"id":406024},{"school.name":"ASA College","latest.student.size":4455,"id":404994},{"school.name":"Vatterott College-Joplin","latest.student.size":192,"id":404374},{"school.name":"Wabash Valley College","latest.student.size":670,"id":403487},{"school.name":"City College-Gainesville","latest.student.size":393,"id":406547},{"school.name":"Florida National University-Main Campus","latest.student.size":2354,"id":408844},{"school.name":"Southeast Missouri Hospital College of Nursing and Health Sciences","latest.student.size":207,"id":417734},{"school.name":"City College-Altamonte Springs","latest.student.size":285,"id":417327},{"school.name":"Centura College-Chesapeake","latest.student.size":203,"id":420024},{"school.name":"Virginia College-Birmingham","latest.student.size":1915,"id":420307},{"school.name":"McCann School of Business & Technology","latest.student.size":261,"id":438221},{"school.name":"Le Cordon Bleu College of Culinary Arts-Minneapolis","latest.student.size":156,"id":446844},{"school.name":"Stevens-Henager College","latest.student.size":82,"id":446677},{"school.name":"Eastern International College-Belleville","latest.student.size":222,"id":448354},{"school.name":"West Hills College-Lemoore","latest.student.size":3723,"id":448594},{"school.name":"National American University-Wichita","latest.student.size":148,"id":451884},{"school.name":"Le Cordon Bleu College of Culinary Arts-Cambridge","latest.student.size":126,"id":452054},{"school.name":"Virginia University of Lynchburg","latest.student.size":342,"id":234137},{"school.name":"Blue Ridge Community and Technical College","latest.student.size":2000,"id":446774},{"school.name":"Saint Elizabeth College of Nursing","latest.student.size":196,"id":195702},{"school.name":"White Earth Tribal and Community College","latest.student.size":69,"id":434751},{"school.name":"Mid-Plains Community College","latest.student.size":1213,"id":181312},{"school.name":"Dallas Institute of Funeral Service","latest.student.size":95,"id":224271},{"school.name":"Vatterott College-Sunset Hills","latest.student.size":324,"id":436191},{"school.name":"Antonelli College-Jackson","latest.student.size":301,"id":175528},{"school.name":"Oakland Community College","latest.student.size":10135,"id":171535},{"school.name":"Hibbing Community College","latest.student.size":1046,"id":173735},{"school.name":"Itasca Community College","latest.student.size":894,"id":173805},{"school.name":"Wayne County Community College District","latest.student.size":11747,"id":172635},{"school.name":"Normandale Community College","latest.student.size":7382,"id":174428},{"school.name":"Century College","latest.student.size":7818,"id":175315},{"school.name":"Meridian Community College","latest.student.size":3297,"id":175935},{"school.name":"Mississippi Delta Community College","latest.student.size":2006,"id":176008},{"school.name":"Ozarks Technical Community College","latest.student.size":11202,"id":177472},{"school.name":"Saint Louis Community College","latest.student.size":17125,"id":179308}]}'

In [212]:
def get_scorecard_2yr():
    url='https://api.data.gov/ed/collegescorecard/v1/schools.json?school.degrees_awarded.predominant=2'
    headers = '&api_key='+api_key
    url_params ='&_fields=id,school.name,latest.student.size,latest.student.part_time_share,latest.cost.tuition.in_state,latest.aid.pell_grant_rate,latest.aid.federal_loan_rate,latest.completion.completion_rate_less_than_4yr_150nt,latest.student.retention_rate.lt_four_year.full_time,latest.student.retention_rate.lt_four_year.part_time,latest.student.share_25_older,latest.repayment.2_yr_default_rate,latest.repayment.3_yr_default_rate,latest.student.share_firstgeneration,latest.student.share_firstgeneration_parents.middleschool,latest.student.share_firstgeneration_parents.highschool,latest.student.share_firstgeneration_parents.somecollege,latest.student.demographics.median_hh_income&_per_page=100'
    url=url+url_params+headers
    first_page = requests.get(url).json()
    for result in first_page['results']:
        update_table('twoyear',result['id'],result['school.name'],result['latest.student.size']
                       ,result['latest.student.part_time_share'],result['latest.cost.tuition.in_state']
                       ,result['latest.aid.pell_grant_rate'],result['latest.aid.federal_loan_rate'], result['latest.completion.completion_rate_less_than_4yr_150nt']
                       ,result['latest.student.retention_rate.lt_four_year.full_time']
                       ,result['latest.student.retention_rate.lt_four_year.part_time']
                       ,result['latest.student.share_25_older']
                       ,result['latest.repayment.2_yr_default_rate'], result['latest.repayment.3_yr_default_rate']
                       ,result['latest.student.share_firstgeneration'], result['latest.student.share_firstgeneration_parents.middleschool']
                       ,result['latest.student.share_firstgeneration_parents.highschool'], result['latest.student.share_firstgeneration_parents.somecollege']
                       ,result['latest.student.demographics.median_hh_income'])
    num_pages = first_page['metadata']['total']//100
    
    for page in range(1, num_pages + 1):
        first_page = requests.get(url+f'&_page={page}').json()
        for result in first_page['results']:
            update_table('twoyear',result['id'],result['school.name'],result['latest.student.size']
                       ,result['latest.student.part_time_share'],result['latest.cost.tuition.in_state']
                       ,result['latest.aid.pell_grant_rate'],result['latest.aid.federal_loan_rate'], result['latest.completion.completion_rate_less_than_4yr_150nt']
                       ,result['latest.student.retention_rate.lt_four_year.full_time']
                       ,result['latest.student.retention_rate.lt_four_year.part_time']
                       ,result['latest.student.share_25_older']
                       ,result['latest.repayment.2_yr_default_rate'], result['latest.repayment.3_yr_default_rate']
                       ,result['latest.student.share_firstgeneration'], result['latest.student.share_firstgeneration_parents.middleschool']
                       ,result['latest.student.share_firstgeneration_parents.highschool'], result['latest.student.share_firstgeneration_parents.somecollege']
                       ,result['latest.student.demographics.median_hh_income'])

In [213]:
get_scorecard_2yr()

-999
26755
59448
75504
49609
70910
54778
-999
67923
75932
58567
74067
-999
66530
36313

In [216]:
cursor.execute('''SELECT COUNT(*) FROM fouryear WHERE -999 in (size, part_time_share, cost, pell_grant_rate,
            federal_loan_rate,share_25_older,two_yr_default_rate,
            three_yr_default_rate,median_hh_income);''').fetchall()

[(399,)]

In [215]:
cursor.execute('''SELECT COUNT(*) FROM twoyear WHERE -999 in (size, part_time_share, cost, pell_grant_rate,
            federal_loan_rate,share_25_older,two_yr_default_rate,
            three_yr_default_rate,median_hh_income);''').fetchall()

[(336,)]

In [240]:
cursor.execute('''SELECT COUNT(name) FROM fouryear WHERE median_hh_income = -999;''').fetchall()

[(250,)]

In [241]:
cursor.execute('''SELECT * FROM fouryear WHERE count (-999) IN (size, part_time_share, cost, pell_grant_rate,
            federal_loan_rate,share_25_older,two_yr_default_rate,
            three_yr_default_rate,median_hh_income) > 1;''')

OperationalError: misuse of aggregate function count()

In [242]:
connection.commit()

In [3]:
import pandas as pd
import sqlite3

In [18]:
import numpy as np

In [4]:
conn = sqlite3.connect('scorecard.db', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

In [32]:
cur.execute('''SELECT * FROM fouryear;''')
df4 = pd.DataFrame(cur.fetchall())
df4.columns = [i[0] for i in cur.description]
df4.head()

,id,name,size,part_time_share,cost,pell_grant_rate,federal_loan_rate,completion_rate_4yr_150nt,retention_rate_full_time,retention_rate_part_time,share_25_older,two_yr_default_rate,three_yr_default_rate,share_firstgeneration,parents_middleschool,parents_highschool,parents_somecollege,median_hh_income
0,100654,Alabama A & M University,4616,0.0877,9366.0,0.7039,0.7667,0.2749,0.5769,0.3091,0.0859,0.114,0.189,0.365828,0.016422,0.349406,0.634172,49720.0
1,100663,University of Alabama at Birmingham,12047,0.2578,8040.0,0.3525,0.5179,0.5309,0.8161,0.4286,0.2363,0.060,0.057,0.341224,0.022267,0.318957,0.658776,55735.0
2,100690,Amridge University,293,0.5392,7180.0,0.6971,0.8436,0.2500,0.0909,0.0000,0.8571,0.071,0.112,0.512500,0.050000,0.462500,0.487500,53683.0
3,100706,University of Alabama in Huntsville,6346,0.1746,9842.0,0.2949,0.4312,0.4867,0.8255,0.5455,0.2255,0.077,0.054,0.310132,0.019824,0.290308,0.689868,58688.0
4,100724,Alabama State University,4704,0.0727,9220.0,0.7815,0.8113,0.2165,0.6262,0.3846,0.0974,0.132,0.194,0.343434,0.018825,0.324610,0.656566,46065.0

In [34]:
df4['completion_rate_4yr_150nt'] = df4['completion_rate_4yr_150nt'].replace(-999, np.nan)
df4 = df4.dropna(axis=0, subset=['completion_rate_4yr_150nt'])

In [42]:
df4['completion_rate_4yr_150nt'] = df4['completion_rate_4yr_150nt'].replace(0.0, np.nan)
df4 = df4.dropna(axis=0, subset=['completion_rate_4yr_150nt'])

In [47]:
df4.describe()

,id,size,part_time_share,cost,pell_grant_rate,federal_loan_rate,completion_rate_4yr_150nt,retention_rate_full_time,retention_rate_part_time,share_25_older,two_yr_default_rate,three_yr_default_rate,share_firstgeneration,parents_middleschool,parents_highschool,parents_somecollege,median_hh_income
count,1873.000000,1873.000000,1873.000000,1873.000000,1873.000000,1873.000000,1873.000000,1873.000000,1873.000000,1873.000000,1873.000000,1873.000000,1873.000000,1873.000000,1873.000000,1873.000000,1873.000000
mean,212276.250934,4722.905499,-0.386716,21000.482648,0.394156,0.550741,0.508033,-30.222084,-382.132846,-2.436189,-49.007398,-42.062669,-77.561279,-294.394443,-294.192081,-77.260397,57941.679658
std,93684.356820,7627.277772,23.087229,13738.579333,0.176703,0.207771,0.209503,173.227186,485.946349,51.572957,215.972351,200.863860,267.986378,455.596271,455.727124,268.073885,20621.549258
min,100654.000000,0.000000,-999.000000,-999.000000,0.000000,0.000000,0.021600,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
25%,155335.000000,782.000000,0.030200,9223.000000,0.269300,0.435000,0.354000,0.651900,-999.000000,0.061300,0.029000,0.034000,0.223641,-999.000000,-999.000000,0.556022,53049.000000
50%,193353.000000,1853.000000,0.092500,17492.000000,0.372800,0.579700,0.504100,0.751400,0.200000,0.161600,0.051000,0.061000,0.324286,0.019036,0.275248,0.649254,61867.000000
75%,222938.000000,5030.000000,0.201700,30960.000000,0.493100,0.706900,0.653800,0.834000,0.500000,0.305800,0.083000,0.103000,0.403893,0.037801,0.361795,0.733507,70553.000000
max,489937.000000,100011.000000,1.000000,55056.000000,0.958600,1.000000,1.000000,1.000000,1.000000,0.980800,1.000000,0.331000,0.850909,0.279310,0.699153,0.911330,96737.000000

In [36]:
cur.execute('''SELECT * FROM twoyear;''')
df2 = pd.DataFrame(cur.fetchall())
df2.columns = [i[0] for i in cur.description]
df2.head()

,id,name,size,part_time_share,cost,pell_grant_rate,federal_loan_rate,completion_rate__less_than_4yr_150nt,retention_rate_full_time,retention_rate_part_time,share_25_older,two_yr_default_rate,three_yr_default_rate,share_firstgeneration,parents_middleschool,parents_highschool,parents_somecollege,median_hh_income
0,100760,Central Alabama Community College,1492,0.3733,4380.0,0.5109,0.3234,0.2153,0.6173,0.3469,0.2630,0.204,0.272,0.549676,0.049676,0.500000,0.450324,43985.0
1,101028,Chattahoochee Valley Community College,1424,0.3961,4254.0,0.5790,0.2697,0.1108,0.5096,0.3750,0.3604,0.096,0.170,0.430267,0.025717,0.404550,0.569733,46908.0
2,101143,Enterprise State Community College,1357,0.3950,4380.0,0.4559,0.1738,0.1500,0.5529,0.2255,0.2896,0.177,0.222,0.421892,0.043571,0.378321,0.578108,44274.0
3,101161,Coastal Alabama Community College,4189,0.3939,4380.0,0.4406,0.4779,0.2401,0.5019,0.3919,0.2598,0.119,0.201,0.435120,0.031682,0.403438,0.564880,52162.0
4,101286,George C Wallace Community College-Dothan,3904,0.4974,4320.0,0.5274,0.0000,0.2072,0.6072,0.4912,0.3422,0.000,-999.000,0.485154,0.050371,0.434783,0.514846,43000.0

In [39]:
df2['completion_rate__less_than_4yr_150nt'] = df2['completion_rate__less_than_4yr_150nt'].replace(-999, np.nan)
df2 = df2.dropna(axis=0, subset=['completion_rate__less_than_4yr_150nt'])

In [41]:
df2['completion_rate__less_than_4yr_150nt'].value_counts()

-999.0000    401
 0.2000        9
 0.0000        7
 1.0000        6
 0.5000        5
 0.2500        4
 0.2845        4
 0.4000        3
 0.4545        3
 0.1061        3
 0.1523        3
 0.2857        3
 0.8000        3
 0.3427        3
 0.6429        3
 0.1667        3
 0.2540        2
 0.2546        2
 0.6000        2
 0.8182        2
 0.2504        2
 0.3642        2
 0.1533        2
 0.3400        2
 0.1765        2
 0.3939        2
 0.1647        2
 0.1565        2
 0.1683        2
 0.3571        2
            ...
 0.2059        1
 0.1212        1
 0.2565        1
 0.0400        1
 0.1311        1
 0.2410        1
 0.1860        1
 0.1890        1
 0.2870        1
 0.0966        1
 0.3611        1
 0.2732        1
 0.1864        1
 0.6124        1
 0.2053        1
 0.0856        1
 0.2826        1
 0.3210        1
 0.2563        1
 0.0606        1
 0.2270        1
 0.2758        1
 0.2185        1
 0.5034        1
 0.9565        1
 0.2460        1
 0.2927        1
 0.1459        1
 0.3506        1
 0.2219        1
Name: completion_rate__less_than_4yr_150nt, Length: 755, dtype: int64

In [50]:
df4.drop(labels=['parents_middleschool','parents_highschool', 'parents_somecollege'], axis=1, inplace=True)

In [51]:
df4.head()

,id,name,size,part_time_share,cost,pell_grant_rate,federal_loan_rate,completion_rate_4yr_150nt,retention_rate_full_time,retention_rate_part_time,share_25_older,two_yr_default_rate,three_yr_default_rate,share_firstgeneration,median_hh_income
0,100654,Alabama A & M University,4616,0.0877,9366.0,0.7039,0.7667,0.2749,0.5769,0.3091,0.0859,0.114,0.189,0.365828,49720.0
1,100663,University of Alabama at Birmingham,12047,0.2578,8040.0,0.3525,0.5179,0.5309,0.8161,0.4286,0.2363,0.060,0.057,0.341224,55735.0
2,100690,Amridge University,293,0.5392,7180.0,0.6971,0.8436,0.2500,0.0909,0.0000,0.8571,0.071,0.112,0.512500,53683.0
3,100706,University of Alabama in Huntsville,6346,0.1746,9842.0,0.2949,0.4312,0.4867,0.8255,0.5455,0.2255,0.077,0.054,0.310132,58688.0
4,100724,Alabama State University,4704,0.0727,9220.0,0.7815,0.8113,0.2165,0.6262,0.3846,0.0974,0.132,0.194,0.343434,46065.0

In [52]:
df4 = df4.replace(-999, np.nan)

In [53]:
df4.isna().sum()

id                             0
name                           0
size                           0
part_time_share                1
cost                          41
pell_grant_rate                0
federal_loan_rate              0
completion_rate_4yr_150nt      0
retention_rate_full_time      58
retention_rate_part_time     717
share_25_older                 5
two_yr_default_rate           92
three_yr_default_rate         79
share_firstgeneration        146
median_hh_income             139
dtype: int64

In [54]:
df4.drop(labels='retention_rate_part_time', axis=1, inplace=True)

In [57]:
df4.isna().sum(axis=1).sort_values(ascending=False)

851     5
1954    5
650     5
1277    4
2070    4
364     4
1884    4
2027    4
1109    4
1903    4
1992    4
2032    4
1990    4
1751    4
2034    4
2038    4
947     4
2047    4
2048    4
2037    4
2049    4
1921    4
1904    3
1860    3
1760    3
1782    3
1844    3
1924    3
1889    3
1874    3
       ..
1219    0
1220    0
1221    0
1223    0
1199    0
1198    0
1197    0
1196    0
1172    0
1173    0
1174    0
1175    0
1178    0
1179    0
1180    0
1181    0
1183    0
1184    0
1185    0
1186    0
1187    0
1188    0
1189    0
1190    0
1191    0
1192    0
1193    0
1194    0
1195    0
0       0
Length: 1873, dtype: int64

In [59]:
df4.drop(df4[df4.isna().sum(axis=1)>3].index, inplace=True)

In [60]:
df4.isna().sum()

id                             0
name                           0
size                           0
part_time_share                0
cost                          34
pell_grant_rate                0
federal_loan_rate              0
completion_rate_4yr_150nt      0
retention_rate_full_time      50
share_25_older                 2
two_yr_default_rate           72
three_yr_default_rate         63
share_firstgeneration        130
median_hh_income             119
dtype: int64

In [73]:
df4.iloc[:,2:] = df4.iloc[:,2:].apply(lambda x: x.fillna(x.median()), axis=0)

In [74]:
df4.isna().sum()

id                           0
name                         0
size                         0
part_time_share              0
cost                         0
pell_grant_rate              0
federal_loan_rate            0
completion_rate_4yr_150nt    0
retention_rate_full_time     0
share_25_older               0
two_yr_default_rate          0
three_yr_default_rate        0
share_firstgeneration        0
median_hh_income             0
dtype: int64

In [76]:
df4.to_sql("fouryearclean", conn, if_exists="replace")

In [77]:
pd.read_sql_query("select * from fouryearclean;", conn)

,index,id,name,size,part_time_share,cost,pell_grant_rate,federal_loan_rate,completion_rate_4yr_150nt,retention_rate_full_time,share_25_older,two_yr_default_rate,three_yr_default_rate,share_firstgeneration,median_hh_income
0,0,100654,Alabama A & M University,4616,0.0877,9366.0,0.7039,0.7667,0.2749,0.5769,0.0859,0.114,0.189,0.365828,49720.0
1,1,100663,University of Alabama at Birmingham,12047,0.2578,8040.0,0.3525,0.5179,0.5309,0.8161,0.2363,0.060,0.057,0.341224,55735.0
2,2,100690,Amridge University,293,0.5392,7180.0,0.6971,0.8436,0.2500,0.0909,0.8571,0.071,0.112,0.512500,53683.0
3,3,100706,University of Alabama in Huntsville,6346,0.1746,9842.0,0.2949,0.4312,0.4867,0.8255,0.2255,0.077,0.054,0.310132,58688.0
4,4,100724,Alabama State University,4704,0.0727,9220.0,0.7815,0.8113,0.2165,0.6262,0.0974,0.132,0.194,0.343434,46065.0
5,5,100751,The University of Alabama,31663,0.0819,10470.0,0.1938,0.4007,0.6871,0.8627,0.0810,0.066,0.057,0.225713,57928.0
6,7,100830,Auburn University at Montgomery,4171,0.2592,9640.0,0.4405,0.5565,0.2261,0.6667,0.2257,0.090,0.099,0.381896,50723.0
7,8,100858,Auburn University,22095,0.0831,10696.0,0.1532,0.3280,0.7501,0.9101,0.0427,0.045,0.037,0.172647,59005.0
8,9,100937,Birmingham Southern College,1289,0.0054,34448.0,0.1888,0.4729,0.6821,0.8209,0.0141,0.085,0.044,0.172494,64789.0
9,10,101073,Concordia College Alabama,340,0.1029,10320.0,0.8255,0.8830,0.1117,0.4836,0.1294,0.223,0.331,0.448378,38220.0
10,11,101116,South University-Montgomery,394,0.3959,17306.0,0.6696,0.7087,0.0750,0.2500,0.6109,0.174,0.148,0.472288,55764.0
11,12,101189,Faulkner University,2297,0.2255,20130.0,0.4727,0.6954,0.3348,0.5448,0.4353,0.077,0.130,0.430032,52330.0
12,13,101435,Huntingdon College,1140,0.2281,25800.0,0.4425,0.7093,0.3875,0.6151,0.2196,0.078,0.125,0.345600,54037.0
13,14,101453,Heritage Christian University,50,0.5600,9792.0,0.5690,0.2586,0.5000,0.6667,0.5862,0.133,0.140,0.337938,51048.0
14,15,101480,Jacksonville State University,6714,0.1969,7500.0,0.3932,0.6435,0.3547,0.7845,0.1814,0.077,0.113,0.363770,48389.0
15,16,101541,Judson College,327,0.2630,17376.0,0.6364,0.5642,0.3333,0.6774,0.3422,0.067,0.140,0.413793,46522.0
16,17,101587,University of West Alabama,1974,0.1277,8876.0,0.5128,0.6846,0.3105,0.6571,0.1436,0.064,0.085,0.403211,40238.0
17,18,101675,Miles College,1820,0.0269,11604.0,0.8372,0.9044,0.1662,0.5556,0.1447,0.219,0.112,0.416459,43157.0
18,19,101693,University of Mobile,1367,0.0922,21400.0,0.4965,0.7663,0.4764,0.7073,0.2129,0.024,0.073,0.324286,51833.0
19,20,101709,University of Montevallo,2399,0.0925,12040.0,0.3998,0.5722,0.4988,0.7325,0.1092,0.071,0.080,0.325238,59047.0
20,21,101879,University of North Alabama,5846,0.1203,8114.0,0.4132,0.7009,0.4350,0.7506,0.1445,0.101,0.114,0.363260,48189.0
21,22,101912,Oakwood University,1719,0.0541,16750.0,0.5337,0.7149,0.4703,0.7418,0.1480,0.077,0.147,0.176235,60906.0
22,23,102049,Samford University,3324,0.0361,29402.0,0.1199,0.3277,0.7257,0.8874,0.0518,0.013,0.021,0.138055,69602.0
23,24,102058,Selma University,165,0.0242,6730.0,0.8822,0.1369,0.9821,0.6699,0.5350,0.069,0.278,0.619433,62822.5
24,25,102094,University of South Alabama,11483,0.1643,7548.0,0.3944,0.5622,0.3773,0.7320,0.1992,0.048,0.081,0.334258,51919.0
25,26,102234,Spring Hill College,1379,0.0102,35794.0,0.3062,0.7500,0.5281,0.7644,0.0281,0.055,0.070,0.251634,59048.0
26,27,102261,Southeastern Bible College,143,0.2587,12600.0,0.5960,0.7219,0.3636,0.6667,0.5960,0.076,0.078,0.337938,57076.0
27,28,102270,Stillman College,628,0.0780,10418.0,0.8022,0.9039,0.1787,0.3975,0.0737,0.149,0.226,0.410506,46186.0
28,29,102298,Talladega College,669,0.0673,12340.0,0.8382,0.8049,0.4313,0.5656,0.0839,0.212,0.282,0.398058,44867.0
29,30,102368,Troy University,13745,0.3213,8260.0,0.4096,0.6116,0.3746,0.7430,0.4356,0.093,0.114,0.389846,49132.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,2007,482486,DeVry University-Indiana,71,0.5070,19948.0,0.5196,0.7353,0.1579,0.4000,0.6078,0.053,0.125,0.502252,62822.5
1822,2008,482538,DeVry University-Missouri,230,0.6087,19948.0,0.5347,0.7734,0.3248,0.6667,0.7281,0.053,0.125,0.502252,62822.5
1823,2009,482547,DeVry University-Nevada,162,0.5185,19948.0,0.5515,0.6443,0.2083,1.0000,0.8196,0.053,0.125,0.502252,62822.5
1824,2010,482556,DeVry University-New Jersey,818,0.5147,19948.0,0.5014,0.7695,0.3117,0.6600,0.5612,0.053,0.125,0.502252,62822.5
1825,2011,482565,DeVry University-North Carolina,203,0.5222,19948.0,0.6364,0.7695,0.1395,0.3333,0.8571,0.053,0.125,0.502252,62822.5
1826,2012,482574,DeVry University-Ohio,1263,0.6120,19948.0,0.5873,0.7680,0.2874,0.5556,0.7080,0.053,0.125,0.502252,62822.5
1827,2013,482583,DeVry University-Oklahoma,80,0.6875,19948.0,0.6957,0.7913,0.2500,0.0000,0.8348,0.053,0.125,0.502252,62822.5
1828,2014,482608,DeVry University-Pennsylvania,431,0.6450,19948.0,0.5775,0.7422,0.2295,0.4444,0.6899,0.053,0.125,0.502252,62822.5
1829,2015,482617,DeVry University-Tennessee,121,0.4959,19948.0,0.6375,0.7188,0.2500,0.5000,0.7563,0.053,0.125,0.502252,62822.5
1830,2016,482635,DeVry University-Texas,852,0.5399,19948.0,0.5054,0.5862,0.1848,0.3750,0.8252,0.053,0.125,0.502252,62822.5
1831,2017,482653,DeVry University-Virginia,369,0.5257,19948.0,0.4417,0.5317,0.2714,0.0000,0.8425,0.053,0.125,0.502252,62822.5
1832,2018,482680,University of North Georgia,16802,0.2650,4397.0,0.3440,0.3757,0.2783,0.7906,0.1382,0.053,0.096,0.340413,62822.5
1833,2022,483124,Arizona State University-Skysong,20490,0.5641,8234.0,0.4073,0.6249,0.2000,0.6804,0.6637,0.053,0.067,0.381318,62822.5
1834,2026,484613,University of Phoenix-Arizona,100011,0.0000,9690.0,0.5353,0.4975,0.1620,0.3089,0.8349,0.053,0.128,0.543534,62822.5
1835,2028,484631,University of Phoenix-California,10930,0.0000,9802.0,0.4379,0.3600,0.1774,0.6066,0.8701,0.053,0.128,0.543534,62822.5
1836,2029,484640,University of Phoenix-Colorado,501,0.0000,9840.0,0.4016,0.3669,0.1840,1.0000,0.9295,0.053,0.128,0.543534,62822.5
1837,2030,484668,University of Phoenix-Florida,1084,0.0000,9840.0,0.4180,0.3943,0.1589,0.2857,0.9481,0.053,0.128,0.543534,62822.5
1838,2031,484677,University of Phoenix-Georgia,787,0.0000,9840.0,0.5650,0.4414,0.1427,1.0000,0.9337,0.053,0.128,0.543534,62822.5
1839,2033,484695,University of Phoenix-Michigan,277,0.0000,9840.0,0.5611,0.4917,0.0952,0.2000,0.9472,0.053,0.128,0.543534,62822.5
1840,2035,484710,University of Phoenix-Nevada,730,0.0000,9840.0,0.4300,0.4220,0.1582,0.2222,0.8811,0.053,0.128,0.543534,62822.5
1841,2036,484729,University of Phoenix-North Carolina,236,0.0000,9840.0,0.6071,0.5500,0.1281,0.2727,0.9286,0.053,0.128,0.543534,62822.5
1842,2039,484756,University of Phoenix-Texas,2256,0.0000,9749.0,0.4965,0.4107,0.1667,0.3929,0.9295,0.053,0.128,0.543534,62822.5
1843,2040,484765,University of Phoenix-Virginia,394,0.0000,9840.0,0.3616,0.2671,0.1589,0.7556,0.9589,0.053,0.128,0.543534,62822.5
1844,2041,484783,University of Phoenix-Pennsylvania,241,0.0000,9840.0,0.6452,0.5668,0.0941,0.6154,0.8733,0.053,0.128,0.543534,62822.5
1845,2043,484905,University of North Texas at Dallas,2257,0.3930,7848.0,0.5109,0.3820,0.3256,0.6589,0.1617,0.053,0.067,0.578134,62822.5
1846,2051,486284,Bethany Global University,231,0.0216,13000.0,0.3404,0.4043,0.6800,0.8333,0.1032,0.053,0.064,0.218391,62822.5
1847,2053,486840,Kennesaw State University,31611,0.2354,6060.0,0.3869,0.5259,0.4245,0.8007,0.2195,0.053,0.071,0.269377,62822.5
1848,2054,486901,Milligan College,818,0.0685,31450.0,0.3266,0.5870,0.6307,0.7861,0.1223,0.053,0.040,0.318653,62822.5
1849,2062,487524,Husson University,2723,0.1440,17035.0,0.4375,0.7860,0.5344,0.7640,0.1889,0.053,0.085,0.321789,62822.5
1850,2076,489937,Piedmont International University,295,0.4034,9650.0,0.3634,0.3343,0.4468,0.7234,0.1617,0.053,0.180,0.326633,62822.5

In [78]:
conn.commit()